.time-display{
    width: 65px;
}

h1 {
    text-align: center;
    text-emphasis: strong;
    text-shadow: grey;
}

p {
    text-align: center;
}

.footer {
    margin-top: 0%;
}

.jumbotron {
    margin-bottom: 0%;
}

#save-image {
    width: 30px;
    height: 30px;
    padding: 0px;
}

#day-date {
    text-align: center;
    font-size: larger;
}

#nine-am {
    /* background-color: red; */
}